
ELECTRONICS/COMPONENTS/_CAD_FILES
ELECTRONICS/COMPONENTS/_ORDERS/
docs/
ELECTRONICS/PCB/_ORDERS
ELECTRONICS/PCB/_TESTS/
ENCLOSURE/3D_MODELS/_TEST_AND_JIGS/
ENCLOSURE/3D_MODELS/V2p2/_Lights_10_32
CODE/_REFERENCE/
CODE/_TESTING/
*.gcode
*.dxf

BUILD/LightSticks/TUTORIAL_IMAGES/STEP_01/original_dimensions/
BUILD/LightSticks/TUTORIAL_IMAGES/STEP_02/original_dimensions/
ELECTRONICS/FUSION_ARCHIVE_FILES/
ENCLOSURE/3D_MODELS/V2p2/FusionFiles/
